/* sc-text */
.pc {
  display: block;
}
.m {
  display: none;
}
.text-wrap {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  font-family: Youth, sans-serif;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.03em;
  font-size: 3.6rem;
  line-height: 100%;
}

.text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* font-size: 60px; */
  text-align: center;
}
.text-left {
  padding-left: 12rem;
  text-align: left;
}

.desc-line {
  position: relative;
  height: 1px;
  background-color: rgb(var(--color-dark-grey) / 0.1);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3.2rem;
  /* visibility: hidden; */
}
.sc-main {
  position: relative;
  height: 100vh;
}
.sc-main .contents {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.sc-main .box1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: border-radius 0.5s ease, transform 0.5s ease;
}

.time {
  /* transform: translateY(50%); */
}
.time img {
  /* transform: translateY(-50%); */
}
.sc-main .box1 .text {
  display: block;
  position: absolute;
  width: 100%;
  top: var(--padding-container);
  padding: 0 var(--padding-container);
  text-align: center;
  overflow: hidden;
  font-family: Youth, sans-serif;
  font-size: 9.2rem;
  line-height: 95%;
  letter-spacing: -0.04em;
  z-index: 2;
}
.sc-main .text span {
  display: block;
  font-size: 9.2rem;
  line-height: 95%;
  letter-spacing: -0.04em;
}
.text .line2 {
  margin-top: -1.2rem;
  padding-bottom: 2rem;
}

.sc-main .thumb-wrap {
  position: relative;
  /* display: flex; */
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.sc-main .thumb-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sc-main .thumb-wrap > div {
  width: 100%;
  height: 100%;
  z-index: 3;
}
.sc-main .thumb-wrap video {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
/* .sc-text {
  position: relative;
  display: grid;
  column-gap: 1rem;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  padding: 35.5rem var(--padding-container);
  z-index: 11;
} */
.sc-text {
  position: relative;
  height: 100vh;
  z-index: 2;
}
/* sc-onoff */
.sc-onoff {
  position: relative;
  height: 400vh;
  width: 100%;
}
.sc-onoff .wrap {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100%;
  margin-top: -100vh;
}
.sc-onoff .contents-txt {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.sc-onoff .thumb1 .contents-txt {
  left: 20%;
}
.sc-onoff .thumb2 .contents-txt {
  right: 20%;
  z-index: 3;
}
.sc-onoff .thumb3 .contents-txt {
  left: 50%;
  transform: translate(-50%);
}
.sc-onoff .wrap .contents {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  border-radius: 1.5rem;
}
.sc-onoff .wrap .cont-inner {
  position: relative;
  height: 100%;
}
.sc-onoff .wrap .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 2rem;
  z-index: 1;
}
.sc-onoff .wrap .contents .thumb2 .img-box {
  z-index: 3;
  pointer-events: auto;
}
.sc-onoff .wrap .hover .img-box {
  position: absolute;
  width: 100%;
  overflow: hidden;
  border-radius: 1.5rem;
  height: 100%;
}
.sc-onoff .wrap .hover .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: none;
  pointer-events: none;
}

.sc-onoff .wrap .contents .thumb2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  pointer-events: none;
}
.sc-onoff .contents .thumb3 .contents-txt {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  /* right: 0; */
  /* left: 0; */
  bottom: 0;
}
.sc-onoff .wrap .contents-txt span {
  font-family: Youth, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  line-height: 90%;
  letter-spacing: -0.3rem;
}
.sc-onoff .thumb3 {
  position: absolute;
  overflow: hidden;
  border-radius: 2rem;
  display: flex;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
}
.sc-onoff .thumb3 .video-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.sc-onoff .thumb3 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.sc-onoff .wrap .contents .text-box {
  position: absolute;
  z-index: 4;
  bottom: 0;
  pointer-events: none;
  transform: translateY(100%);
}
.sc-onoff .thumb1 .text-box {
  position: absolute;
  left: 0;
}
.sc-onoff .thumb2 .text-box {
  position: relative;
  right: 0;
}
.sc-onoff .thumb3 .text-box {
  position: relative;
}

.sc-onoff .text-box .inner {
  padding: 4rem;
  width: 36.8rem;
  backdrop-filter: blur(105px);
  border-radius: 1.2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.sc-onoff .text-box .inner p {
  letter-spacing: -0.01em;
  font-size: clamp(14px, 1.4rem, 18px);
  line-height: 157%;
  font-family: Aeonik, sans-serif;
}

/* sc-onoffe end */

.sc-text2,
.sc-text5 {
  height: 100vh;
  align-items: center;
  position: relative;
  /* padding: 32.9rem var(--padding-container); */
  z-index: 8;
}

.sc-introduce {
  position: relative;
  width: 100%;
  height: 800vh;
  z-index: 7;
}
.sc-introduce .intro-area {
  position: sticky;
  top: 0;
  height: 100%;
  margin-top: -100vh;
  display: flex;
  padding: 1rem;
  gap: 0.4rem;
}
.sc-introduce .intro-area .desc-wrap {
  position: sticky;
  display: flex;
  flex-direction: column;
  top: 1rem;
  padding: 0 3rem 3rem;
  border-radius: 1.8rem;
  width: 36.5%;
  height: calc(100vh - 2rem);
}
.sc-introduce .desc-list {
  position: relative;
  display: flex;
  height: 100%;
}
.sc-introduce .intro-area .desc-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.sc-introduce .intro-area .desc-title {
  display: flex;
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
  letter-spacing: -0.176rem;
  line-height: 86%;
  font-size: 4.4rem;
  font-family: Youth, sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 45%;
}
.sc-introduce .intro-area .desc-line svg {
  position: absolute;
  width: 0.7rem;
  height: 0.7rem;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.sc-introduce .desc-text {
  display: flex;
  justify-content: space-between;
  flex: 1 1 0%;
  font-size: clamp(14px, 1.4rem, 18px);
}
.sc-introduce .desc-text .text-box {
  text-align: center;
  width: 55%;
  margin: 0 auto;
}
.sc-introduce .navi-box {
  position: relative;
  width: 100%;
  height: 150px;
  border-left: 1px solid rgb(var(--color-dark-grey) / 0.1);
  border-right: 1px solid rgb(var(--color-dark-grey) / 0.1);
}
.sc-introduce .navi-box .navi-list {
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;
  white-space: nowrap;
  align-items: center;
  height: 50%;
  padding: 0 1rem;
  column-gap: 1.5rem;
}
.sc-introduce .navi-list li {
  position: relative;
  font-size: clamp(10px, 1rem, 13px);
  font-family: Aeonik Fono, sans-serif;
}
.sc-introduce .intro-area .navi-box .desc-line {
  margin-bottom: 0rem;
}
.sc-introduce .intro-area .navi-box .desc-line svg:first-child {
  left: 0%;
}
.sc-introduce .intro-area .navi-box .desc-line svg:last-child {
  left: 100%;
}
.sc-introduce .desc-more {
  margin: 0.8rem 0.8rem 0;
  border-radius: 1rem;
  font-family: Aeonik Fono, sans-serif;
  font-size: max(12px, 1.2rem);
  line-height: 200%;
  letter-spacing: 0.036rem;
}
.sc-introduce .desc-more a {
  width: 100%;
  padding: 2.1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sc-introduce .desc-more span {
  margin-left: 0.85rem;
  height: 0.84rem;
  width: 0.95rem;
}
.sc-introduce .img-wrap {
  position: sticky;
  width: 100%;
  top: 1rem;
  border-radius: 1.8rem;
  height: calc(100vh - 2rem);
  overflow: hidden;
}
.img-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.sc-introduce .img-list .item {
  position: absolute;
  width: 100%;
  height: 100%;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 1.8rem;
  overflow: hidden;
}
.sc-introduce .item img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sc-text3 {
  position: relative;
  height: 100vh;
  z-index: 8;
}
/* sc-app */
.sc-app {
  position: relative;
  width: 100%;
  height: 300vh;
  z-index: 1;
  /* overflow: hidden; */
}
.sc-app .app-area {
  display: flex;
  justify-content: center;
  margin-top: -100vh;
  gap: 2rem;
  padding: 0 300px;
  /* overflow: hidden; */
}

.sc-app .app-wrap {
  width: 40vw;
  /* flex: 1; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  /* gap: 4rem; */
}
.sc-app .app-wrap .thumb-box {
  position: relative;
  padding-top: 66.4%;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 1.8rem;
}

.sc-app .app-wrap .thumb-box.main {
}
.sc-app .app-wrap .thumb-box .badge {
  position: absolute;
  display: flex;
  align-items: center;
  left: 1rem;
  bottom: 1rem;
  border-radius: 1.2rem;
  border-width: 0.2rem;
  z-index: 3;
  overflow: hidden;
  transform: translateY(0%);
}
.sc-app .app-wrap .thumb-box .video-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sc-app .app-wrap .thumb-box video {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* width: 100vw; */
  /* height: 100vh; */
}
.sc-app .app-wrap .thumb-box .badge-text {
  position: relative;
  height: 100%;
  letter-spacing: 0.05rem;
  line-height: 180%;
  font-size: clamp(10px, 1rem, 13px);
  left: 1.4rem;
  margin-right: 3.1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.sc-app .app-wrap .thumb-box .bg {
  position: absolute;
  border-radius: 1rem;
  top: 0;
  left: 0;
  width: 48%;
  height: 100%;
}
.sc-app .app-wrap .thumb-box .badge-text span {
  margin-top: -0.5rem;
  opacity: 0.5;
}
.sc-app .app-wrap .thumb-box .badge-img {
  position: relative;
  width: 1.4rem;
  margin-right: 2.4rem;
  margin-left: 3.1rem;
  padding: 1rem;
}
.sc-app .app-wrap .thumb-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sc-text4 {
  position: relative;
  height: 90vh;
  /* padding: 22rem var(--padding-container) 15rem; */
  /* z-index: 10; */
}
.sc-product {
  position: relative;
  padding-bottom: 18rem;
}
.sc-product .inner {
  position: relative;
  padding: 0.7rem var(--padding-container) 0;
}
.sc-product .desc-line {
  align-items: center;
  margin: 0;
}
.sc-product .btn-wrap {
  padding-top: 2rem;
  display: flex;
  justify-content: flex-end;
  column-gap: 0.5rem;
  width: 100%;
  pointer-events: auto;
}

.sc-product .btn-wrap .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 1rem;
}
.sc-product .btn-wrap .swiper-button-disabled {
  opacity: 0.5;
}
.sc-product .btn:hover {
  transform: scale(1.05);
}
.sc-product .btn-wrap .btn svg {
  display: flex;
  width: 1rem;
}
.sc-product .btn.prev {
  transform: rotate(180deg);
}
.sc-product .btn-wrap .btn.prev:hover {
  transform: rotate(180deg) scale(1.05);
}
.sc-product .area {
  /* overflow: hidden; */
  margin-top: 6rem;
  display: flex;
  width: 100%;
  align-items: flex-start;
}

.sc-product .area .link-product {
  flex-shrink: 0;
}
.sc-product .area .img-wrap {
  position: relative;
  padding-top: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 1.8rem;
}
.sc-product .link-product:hover .thumb-img,
.sc-product .link-product:hover .arrow {
  transform: scale(1.08);
}
.sc-product .area .img-wrap .thumb-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}
.sc-product .area .desc-wrap {
  margin-top: 3.6rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  min-height: 20rem;
}
.sc-product .area .desc-wrap .brand {
  display: flex;
  width: 100%;
  height: 2rem;
  margin-bottom: 2rem;
}
.sc-product .area .desc-wrap .brand img {
  width: auto;
  height: 100%;
}
.sc-product .area .desc-wrap .text {
  display: block;
  font-size: 2rem;
  letter-spacing: -0.06rem;
  line-height: 130%;
  padding-right: 2.4rem;
  margin-bottom: 1rem;
}
.sc-product .area .desc-wrap .pre {
  opacity: 0.6;
  letter-spacing: 0.014rem;
  line-height: 2rem;
  font-size: clamp(14px, 1.4rem, 18px);
}
.sc-product .svg-wrapper {
  padding-top: 1.6rem;
}
.sc-product .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 1rem;
  overflow: hidden;
}

.sc-product .arrow svg {
  display: flex;
  width: 1rem;
  height: 100%;
  transform: rotate(-45deg);
}
.sc-ride {
  position: relative;
  height: 200vh;
  width: 100%;
  z-index: 1;
}

.sc-ride .contents {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: -100vh;
  transform-origin: bottom;
}
.sc-ride .ride-area {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.sc-ride .bg,
.sc-ride .car {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sc-ride .car {
  z-index: 5;
}
.sc-ride .bg img,
.sc-ride .car img {
  transition-duration: 0.5s;
  transition-property: opacity;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sc-ride .text-wrap {
  position: absolute;
  left: 0;
  top: 38%;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sc-ride .text-wrap [class*="sm-title"] {
  display: flex;
  gap: 0.3rem;
  font-size: clamp(14px, 1.4rem, 18px);
  line-height: 133%;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
  font-family: Aeonik Fono, sans-serif;
}
/* .sc-ride .text-wrap .word {
  display: flex;
  justify-content: center;
} */
.sc-ride .text-wrap .title {
  /* display: flex; */
  white-space: nowrap;
  column-gap: 2rem;
  font-family: Youth, sans-serif;
  font-size: 16.4rem;
  line-height: 74%;
  letter-spacing: -0.984rem;
}
.sc-ride .title .word {
  display: block;
}
.sc-ride .text-wrap .link-box {
  position: relative;
  z-index: 5;
  display: flex;
  margin-top: 10.4rem;
  font-family: Aeonik Fono, sans-serif;
  font-size: clamp(10px, 1rem, 13px);
  text-transform: uppercase;
  line-height: 180%;
  letter-spacing: 0.05rem;
}
.sc-ride .text-wrap .link-list {
  display: flex;
  column-gap: 0.6rem;
}
.sc-ride .text-wrap .link-list a {
  font-size: clamp(10px, 1rem, 13px);
  padding: 2.4rem 2.5rem;
  border-radius: 1rem;
  display: inline-block;
  line-height: 180%;
  letter-spacing: 0.05rem;
}
.sc-ride .text-wrap .btn-white {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  color: rgb(var(--color-dark-grey) / var(--tw-text-opacity));
  background-color: rgb(var(--color-white) / var(--tw-bg-opacity));
}
.sc-ride .text-wrap .btn-beige {
  background-color: rgb(var(--color-dark-beige) / 0.3);
  --tw-backdrop-blur: blur(105px);
  backdrop-filter: var(--tw-backdrop-blur);
}

.sc-ride .text-wrap .sm-title-bt {
  margin-top: 2rem;
  font-size: clamp(10px, 1rem, 13px);
  line-height: 180%;
  letter-spacing: 0.05rem;
}
.swiper .swiper-slide.on:nth-child(1) {
  opacity: 0;
}

.swiper .swiper-slide {
  transition: opacity 0.3s;
}

@media (max-width: 1229px) {
  .wrapper .sc-text,
  .wrapper .sc-text2,
  .wrapper .sc-text3,
  .wrapper .sc-text5 {
    height: 90vh;
  }
  .sc-onoff.bg-dark-beige .wrap,
  .sc-introduce.bg-dark-grey .intro-area,
  .sc-ride.bg-dark-beige .contents {
    margin-top: -90vh;
  }

  .sc-app.bg-light-beige {
    height: 250vh;
  }
}
@media (min-width: 1024px) {
  .sc-main .box1 .text span {
    font-size: 22.3rem;
    line-height: 83%;
    letter-spacing: -0.04em;
  }
  .sc-text .text-wrap,
  .sc-text2 .text-wrap,
  .sc-text3 .text-wrap,
  .sc-text4 .text-wrap,
  .sc-text5 .text-wrap {
    font-size: 6rem;
    line-height: 90%;
    letter-spacing: -0.3rem;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: calc(10 * (100vw / 1200));
  }
  .sc-main .box1 .text {
    margin-top: 6rem;
  }
}
@media all and (min-width: 895px) and (max-width: 1024px) {
  .wrapper .pop {
    position: fixed;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
  }
  .pop p {
    font-size: clamp(10px, 1rem, 13px);
    letter-spacing: 0.05em;
    line-height: 1.8;
  }
}
@media (max-width: 894px) {
  html {
    font-size: calc(10 * (100vw / 600));
  }
  .pc {
    display: none;
  }
  .m {
    display: block;
  }
  body.hidden {
    overflow: hidden;
  }

  .wrapper .sc-text,
  .wrapper .sc-text2,
  .wrapper .sc-text3,
  .wrapper .sc-text4,
  .wrapper .sc-text5 {
    height: 60vh;
  }
  .sc-main .box1 .text {
    padding: 0 var(--padding-container-mobile);
  }

  .sc-onoff.bg-dark-beige .wrap,
  .sc-introduce.bg-dark-grey .intro-area {
    margin-top: -60vh;
  }
  .sc-onoff .wrap .contents .hover .img-box {
    border-radius: 0;
  }
  .sc-onoff .wrap .contents .thumb2 .img-box {
    z-index: 0;
  }
  .sc-onoff .wrap .contents .thumb1 {
    z-index: 4;
  }
  .sc-onoff .cont-inner .thumb1 .contents-txt,
  .sc-onoff .cont-inner .thumb2 .contents-txt {
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
  }
  .sc-onoff .wrap .text-box .inner {
    padding: 1.8rem;
    width: 26.4rem;
  }
  .sc-onoff .wrap .text-box .inner p {
    letter-spacing: -0.013rem;
    line-height: 153%;
    font-size: clamp(13px, 1.3rem, 16px);
  }
  .sc-onoff .wrap .contents .contents-txt span {
    font-size: 3.6rem;
    line-height: 100%;
    letter-spacing: -0.03em;
  }
  .sc-text2 .text-left,
  .sc-text5 .text-left {
    padding-left: 0;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0%, -50%);
  }

  .sc-introduce.bg-dark-grey {
    height: 700vh;
  }
  .sc-introduce .intro-area.pc {
    display: none;
  }
  .sc-introduce .intro-area.m .desc-wrap {
    width: 100%;
    height: calc(600vh - 6rem);
    padding: 0;
  }
  .sc-introduce .m .desc-list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  .sc-introduce.bg-dark-grey .intro-area.m .desc-box {
    position: relative;
    padding: 1rem;
    height: calc(100vh - 1.2rem);
    border-radius: 1.2rem;
    overflow: hidden;
  }
  .sc-introduce.bg-dark-grey .intro-area.m .content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 10rem 1rem 5rem;
  }
  .sc-introduce .m .desc-text .text-box {
    width: 80%;
  }
  .sc-introduce.bg-dark-grey .intro-area.m .desc-title {
    margin: 0 auto 3rem;
    font-size: 3.2rem;
    letter-spacing: -0.128rem;
    line-height: 93%;
    height: auto;
  }
  .sc-introduce .m .desc-line {
    margin-bottom: 0;
  }
  .sc-introduce .m .desc-text {
    letter-spacing: 0.013rem;
    line-height: 153.8%;
    font-size: clamp(13px, 1.3rem, 16px);
  }
  .sc-introduce .m .item {
    position: relative;
    display: flex;
    flex: 1 1 60%;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    border-radius: 1rem;
  }
  .sc-introduce .m .item img {
    top: 0;
    left: 0;
  }
  .sc-introduce .m .desc-more {
    position: absolute;
    margin: 0 auto;
    bottom: 1rem;
    width: calc(100% - 2rem);
    font-size: clamp(10px, 1rem, 13px);
    line-height: 180%;
    letter-spacing: 0.05rem;
    border-radius: 0.8rem;
  }
  .sc-introduce .m .desc-more a {
    padding: 1.7rem 0;
  }
  .sc-introduce .m .desc-more span {
    margin-left: 1.75rem;
    width: 0.95rem;
  }
  .sc-app.bg-light-beige .pc {
    display: none;
  }
  .sc-app.bg-light-beige {
    height: 100vh;
  }
  .sc-app.bg-light-beige .app-area {
    margin-top: 0;
    padding: 0;
  }
  .sc-app .app-wrap.m {
    padding: 0.8rem;
    width: 100vw;
    height: 100vh;
  }
  .sc-ride.bg-dark-beige {
    height: 140vh;
  }
  .sc-ride.bg-dark-beige .contents {
    margin-top: -60vh;
  }
  .sc-ride .contents .ride-area {
    height: 80vh;
  }
  .sc-ride .contents .text-wrap {
    top: 30%;
  }
  .sc-ride .contents .text-wrap [class*="sm-title"] {
    font-size: clamp(10px, 1rem, 13px);
  }
  .sc-ride .contents .text-wrap .title {
    font-size: 9.2rem;
    line-height: 74%;
    letter-spacing: -0.368rem;
  }
}
@media (min-width: 895px) {
  .sc-text .text-wrap,
  .sc-text2 .text-wrap,
  .sc-text3 .text-wrap,
  .sc-text4 .text-wrap,
  .sc-text5 .text-wrap {
    font-size: 6rem;
    line-height: 90%;
    letter-spacing: -0.3rem;
  }
  .pc {
    display: block;
  }
  .m {
    display: none;
  }
  .sc-introduce .intro-area.m {
    display: none;
  }
  .sc-app .app-wrap.m {
    display: none;
  }
}
